body{
    background-color:wheat;
}

h1{
    color:slategray;
    font-size: 3rem;
    font-weight: 300;
}

.button{
    background-color: slategray;
    border-radius: 145px;
    margin-left: 3px;
}

li{
    margin-bottom: 5px;
}

.completed{
    text-decoration: line-through;
    color: gray;
}
